.text-yellow{
    color: #c6c73a;
}

.button-green {
    --background: green;
    color: white;
}

.text-green{
    color: green;
}

.button-red {
    --background: red;
    color: white;
}

.text-red{
    color: red;
}

.button-gray {
    --background: #CE4257;
    color: #CE4257;
}

.button-cancel {
    --background: #95B2B0;
    color: #95B2B0;
}

.button-dark{
    --background: #0e0f0f;
    color: white;
}