.advice {
    position: absolute;
    top: 23px;
}

.terms-and-conditions {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100px;

    & p {
        & a {
            color: #1c024b;
        }
    }
}

.img-courrier {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 200px;
}

ion-button {
    &.button {
        position: absolute;
        bottom: 0;
        width: 50%;

        &.denie {
            --background: white;
            color: #21c1ff;
        }

        &.accept {
            right: 0;
            --background: #21c1ff;
        }
    }
}