<h4 style="text-align: center;">¿Olvidaste tu contraseña?</h4>
<form [formGroup]="email_data" (submit)="sendEMail()" novalidate>
    <p class="ion-margin-top">
        Ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer la
        contraseña</p>
    <ion-item lines="none" class="input-text ion-margin-top">
        <ion-icon name="person-circle" slot="start"></ion-icon>
        <ion-input placeholder="Email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item lines="none" class="danger-color-text"
        *ngIf=" controls.email.dirty && controls.email.touched && controls.email.errors">
        <ion-icon name="alert-circle" slot="start" class="danger-color-text"></ion-icon>
        <ion-label *ngIf="controls.email.errors.required">Email es requerido</ion-label>
        <ion-label *ngIf="controls.email.errors.email">Debe ser un email válido</ion-label>
    </ion-item>

    <ion-button type="submit" expand="block" mode="ios" color="primary" class=" ion-margin-top">
        ENVIAR
    </ion-button>
</form>