.text-yellow{
    color: #F6D000;
}

.text-black{
    color: black ;
}

.text-bronce{
    color:  #895024 ;
}

.text-silver{
    color:  #BABABA ;
}

.text-elite{
    color: #0381F2;
}

.bg-no-level{
    background-color: black;
    color: white;
}

.bg-bronce{
    background-color: #895024;
    color: white;
}

.bg-silver{
    background-color: #BABABA;
    color:white;
}

.bg-oro{
    background-color: #F6D000;
    color:white;
}

.bg-elite{
    background-color: #0381F2;
    color:white;
}











